/* Add here all your CSS customizations */
.custom-wrap-box {
    margin-bottom: 16px !important;
}

.custom-wrap {
    display: inline-block;
    margin-bottom: 8px;
    white-space: pre;
}

@media (max-width: 499px) {
    .custom-wrap-box {
        margin-top: -124px !important;
    }
    .custom-wrap {
        display: block;
        line-height: 36px;
    }
}