@charset "utf-8";
.product_table {
	font-size: 12px;
	line-height: 1.2;
	height: 24px;
	top: 5px;
	font-weight: normal;
	padding-top: 4px;
	text-align: left;
	padding-right: 8px;
	padding-left: 8px;
	/*border-top-color: #D6C9A0;
	border-left-color: #D6C9A0;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;*/
	background-color: #FFFFFF;
	color: #666666;
}
.product_table th {
	color: #FFFFFF;
	background-color: #00a052;
	font-size: 12px;
	line-height: 1.2;
	height: auto;
	top: 5px;
	font-weight: bold;
	padding-top: 4px;
	text-align: center;
	padding-right: 6px;
	padding-left: 6px;
	/*border-right-color: #D6C9A0;
	border-bottom-color: #D6C9A0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;*/
	padding-bottom: 4px;
}
.product_table td {
	font-family: "Arial", "Helvetica", "sans-serif";
	height: auto;
	font-size: 12px;
	text-align: left;
	padding-left: 8px;
	/*border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D6C9A0;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D6C9A0;*/
	border: 1px solid #90b383;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
}
.product_table td a:link {
	text-decoration: none;
	color: #666666;
}
.product_table td a:visited {
	color: #666666;
	text-decoration: none;
}
.product_table td a:hover {
	color: #FF0000;
	text-decoration: none;
}
.product_table td a:active {
	color: #666666;
}

/* download */
.download_table {
	width: 100%;
	margin: 20px 0px 0px 0px;
	color: #000;
}
.download_table a {
	color: #fff;
}
.download_table a:hover {
	color: #069;
}
.download_table th {
	color: #069;
	font-weight: normal;
	border-top: 1px dotted #069;
	border-bottom: 2px solid #069;
	text-align: center;
}
.download_table td {
	color: #fff;
	border-bottom: 1px dotted #CCC;
	text-align: center;
	padding: 5px 0px;
}
/*購物車頁面 */

.cart_step {
	text-align: center;
	margin-bottom: 20px;
}
.cart_title_icon {
	height: 33px;
	text-indent: 32px;
	font-size: 15px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 10px;
	background-image: url('../images/ws-clipboard.png');
	background-repeat: no-repeat;
}
.cart_title_icon2 {
	height: 34px;
	text-indent: 32px;
	font-size: 15px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 10px;
	background-image: url('../images/ws-clipboard2.png');
	background-repeat: no-repeat;
}
.cart_btn {
	text-align: right;
	padding-top: 10px;
}

.cart_pay {
	border-top: 1px dashed #ccc;
}
.cart_pay td {
	border-bottom: 1px dashed #ccc;
	padding: 15px 0;
}
.cart_pay_radio {
	background-color: #ededed;
	text-align: center;
}

.cart_table {
	border: 1px solid #B6B6B6;
}
.cart_table th {
	color: #333333;
	background-color: #cccccc;
	padding: 4px 6px;
}
.cart_table td {
	padding: 4px 8px;
	text-align: center;
}
.cart_line td {
	border-bottom: 1px dashed #ccc;
}
.cart_title a {
	color: #000;
}
.cart_title a:hover {
	color: #FF0000;
	text-decoration: none;
}
.cart_red {
	color: #c14948;
}

/*購物車按鈕*/
.shop_btn {
	width: 80px;
	height: 30px;
	color: #0f1214;
	margin: 10px 5px 0 0;
	border: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: -webkit-linear-gradient(top,#fff,#dadada);
	background: -moz-linear-gradient(top,#fff,#dadada);
	background: -ms-linear-gradient(top,#fff,#dadada);
	background: -o-linear-gradient(top,#fff,#dadada);
	background: linear-gradient(top,#fff,#dadada);
}
.shop_btn:hover {
	background: -webkit-linear-gradient(top,#fff,#c9c9c9);
	background: -moz-linear-gradient(top,#fff,#c9c9c9);
	background: -ms-linear-gradient(top,#fff,#c9c9c9);
	background: -o-linear-gradient(top,#fff,#c9c9c9);
	background: linear-gradient(top,#fff,#c9c9c9);
}
.shop_btn:active {
	background: -webkit-linear-gradient(top,#fff,#dadada);
	background: -moz-linear-gradient(top,#fff,#dadada);
	background: -ms-linear-gradient(top,#fff,#dadada);
	background: -o-linear-gradient(top,#fff,#dadada);
	background: linear-gradient(top,#fff,#dadada);
}
.security_pic img:first-child {
	width: 100px;
	height: 20px;
}

/*第一次購物按鈕*/
.firstbuy_btn {
	padding: 13px 23px;
	text-align: center;
	color: #515151;
	letter-spacing: 1px;
	line-height: 22px;
	margin: 10px 5px 0 0;
	border: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
	background: -webkit-linear-gradient(top,#fff,#dadada);
	background: -moz-linear-gradient(top,#fff,#dadada);
	background: -ms-linear-gradient(top,#fff,#dadada);
	background: -o-linear-gradient(top,#fff,#dadada);
	background: linear-gradient(top,#fff,#dadada);
}
.firstbuy_btn span {
	color: #ae2626;
}
.firstbuy_btn:hover {
	background: -webkit-linear-gradient(top,#fff,#c9c9c9);
	background: -moz-linear-gradient(top,#fff,#c9c9c9);
	background: -ms-linear-gradient(top,#fff,#c9c9c9);
	background: -o-linear-gradient(top,#fff,#c9c9c9);
	background: linear-gradient(top,#fff,#c9c9c9);
}
.firstbuy_btn:active {
	background: -webkit-linear-gradient(top,#fff,#dadada);
	background: -moz-linear-gradient(top,#fff,#dadada);
	background: -ms-linear-gradient(top,#fff,#dadada);
	background: -o-linear-gradient(top,#fff,#dadada);
	background: linear-gradient(top,#fff,#dadada);
}

.member_login_info_frame_1 {
	border: 1px solid #B6B6B6;
	padding: 20px 20px 20px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.member_login_info {
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
	font-size: 14px;
	line-height: 30px;
}
.member_login_info th {
	padding-right: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
}
.member_login_info td {
	padding-bottom: 10px;
}
.member_login_info input {
	border: 1px solid grey;
	padding: 3px;
}
.member_login_info .ipt1 {
	/*width: 200px;*/
}
.member_login_info .ipt2 {
	/*width: 500px;*/
}
.member_login_info .ipt3 {
	width: 60px;
}
.cart_aswell {
	margin: -35px 0 30px 0;
	text-indent: 195px;
}
.cart_credit {
	margin: -35px 0 30px 0;
	text-indent: 130px;
	color: #c14948;
}
.cart_order_info_frame {
	border: 1px solid #B6B6B6;
	padding: 20px 20px 20px 30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.cart_order_info {
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
	font-size: 14px;
	line-height: 30px;
}
.cart_order_info th {
	padding-right: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #666;
	text-align: right;
}
.cart_order_info td {
	padding-bottom: 10px;
}
.cart_order_info input {
	border: 1px solid grey;
	padding: 3px;
}
.cart_order_info .ipt1 {
	width: 200px;
}
.cart_order_info .ipt2 {
	/*width: 500px;*/
}
.cart_order_info .ipt3 {
	width: 60px;
}
.cart_aswell {
	margin: -35px 0 30px 0;
	text-indent: 195px;
}
.cart_credit {
	margin: -35px 0 30px 0;
	text-indent: 130px;
	color: #c14948;
}

/*購物登入頁面 */
.v_mid {
	vertical-align: middle;
}
.member_login {
	float: left;
}
.member_login td {
	padding-bottom: 10px;
}
.member_login .iptbox {
	padding: 3px 0 3px 5px;
}
.member_login .ipt1 {
	width: 250px;
}
.member_login .ipt2 {
	width: 65px;
}
.member_login .fg_pw {
	text-align: right;
}
.member_login .fg_pw a {
	color: #666;
}
.member_login .fg_pw a:hover {
	color: #333;
}
.member_login img {
	vertical-align: middle;
}
.login_first {
	float: left;
	padding-left: 30px;
}

/*忘記密碼頁面 */
.forget_pw td {
	padding-bottom: 10px;
}
.forget_pw .iptbox {
	padding: 3px 0 3px 5px;
}
.forget_pw .ipt1 {
	width: 250px;
}
.forget_pw .ipt2 {
	width: 150px;
}
.forget_pw img {
	vertical-align: middle;
}

/* contact us */
.contact_table {
	font-size: 12px;
	line-height: 1.2;
	height: 24px;
	top: 5px;
	font-weight: normal;
	padding-top: 4px;
	text-align: left;
	padding-right: 8px;
	padding-left: 8px;
	/*border-top-color: #D6C9A0;
	border-left-color: #D6C9A0;
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-left-style: solid;*/
	border: 1px solid #D6C9A0;
	background-color: #FFF5E8;
}
.contact_table th {
	color: #000000;
	background-color: #F4DA9D;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2;
	height: 24px;
	top: 5px;
	font-weight: normal;
	padding-top: 4px;
	text-align: left;
	padding-right: 8px;
	padding-left: 8px;
	border-right-color: #D6C9A0;
	border-bottom-color: #D6C9A0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
}
.contact_table td {
	font-family: "Arial", "Helvetica", "sans-serif";
	height: 24px;
	color: #333333;
	font-size: 12px;
	text-align: left;
	padding-left: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	/*border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;*/
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
}
.contact_table  tr.altrow {
	background-color: #FFFFFF;
}

/*詢價頁面*/
#inquiry {
	float: left;
	width: 650px;
	padding: 10px 0px;
	margin: 20px 0px 20px 10px;
	display: inline;
	background-color: #FFF;
}
.inquiry_table {
	border: 1px solid #B6B6B6;
}
.inquiry_table th {
	color: #333333;
	background-color: #cccccc;
	padding: 4px 6px;
}
.inquiry_table td {
	padding: 4px 8px;
	text-align: center;
}
.inquiry_line td {
	border-bottom: 1px dashed #ccc;
}
.inquiry_table td.title a {
	color: #000;
}
.inquiry_table td.title a:hover {
	color: #FF0000;
	text-decoration: none;
}

#nodata {
	width: 745px;
	background: url(../images/newslistbg.png) repeat center top;
	height: 24px;
	font-size: 13px;
	color: fc0;
	font-weight: bold;
	padding-top:20px;
	padding-bottom: 5px;
	padding-left:15px;
	border-bottom: 1px solid #7c757c;
}

/*gallery*/
.gallery_list {
	float: left;
	width: 199px;
	margin: 10px 4px;
	padding: 2px;
	border: 2px solid #aac6db
}
.gallery_list_pic {
	width: 199px;
	height: 126px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.gallery_title {
	text-align: center;
	padding: 2px 0
}
/*related*/
#related_products {
	position: relative;
}
#related_products .direction {
	width: 30px;
	height: 180px;
	vertical-align: middle;
	position: absolute;
	top: 0
}
#related_products .left {
	left: 0
}
#related_products .right {
	right: 0
}
#related_products .direction a {
	display: block;
	width: 20;
	height: 120px;
	padding: 60px 5px 0 5px;
	text-decoration: none;
}
#related_products .container {
	width: 630px;
	height: 180px;
	margin: 0 auto;
	vertical-align: middle;
	overflow: hidden
}
#related_products .container .list02 {
	float: left;
	width: 180px;
	height: 180px;
	margin: 0 15px
}
#related_products .container .list02-pto {
	float: left
}
#related_products .container .list02-pto img {
	border: 1px solid #e2e2e2;
	margin-bottom: 5px;
	width: 170px
}
#related_products .container .list02 a {
	color: #889e36;
	text-decoration: none
}
#related_products .container .list02 a:hover {
	color: #889e36;
	text-decoration: underline
}

/*購物車登入*/
.cart-login_f {
	position: relative;
}
.cart-login_f_btn {
}
.cart-login_f_btn input {
	background-color: #FF8F00;
	color: #FFFFFF;
	padding: 3px;
}
.cart-login-m_btn {
	margin-top: 10px;
}
.cart-login-m_btn02 input {
	background-color: #FF8F00;
	color: #FFFFFF;
	width: 100px;
}
.cart-login-m_btn a {
	display: block;
	width: 110px;
	height: 41px;
	line-height: 38px;
	color: #DD003E;
	font-family: "微軟正黑體";
	font-weight: bold;
}
.cart-login-m_btn a:hover {
}
#cart-login-member {
	float: left;
	width: 280px;
	/*  margin:10px 2% 0 3%;*/
	padding: 20px 20px;
	background-color: #FCF2D1;
	border: 1px solid #fec300;
	font-size: 15px;
	height: 197px;
}
.login_table {
	width: 100%;
}
.login_table th {
	width: 60px;
	line-height: 35px;
	color: #000000;
	font-family: "微軟正黑體";
	font-weight: bold;
}
.login_table img {
	vertical-align: middle;
}
#cart-login-first {
	border: 1px solid #fec300;
	float: left;
	width: 280px;
	background-color: #FCF2D1;
	margin-left: 20px;
	padding: 15px 20px 20px 30px;
	height: 200px;
	color: #dd003e;
	font-weight: bold;
	font-size: 16px;
	font-family: "微軟正黑體";
	/* margin:10px 3% 0 2%;*/
}
#cart-login-first ul li {
	color: #000000;
	font-size: 14px;
	font-weight: normal;
	line-height: 25px;
}
#cart-login-first ul {
	padding-top: 15px;
}

/*store*/
.store_list {
	overflow: hidden;
	margin-top: 20px;
	padding-bottom: 20px;
	height: auto;
}
.store_list_pic {
	overflow: hidden;
	float: left;
	margin-right: 25px;
	padding-right: 30px;
	border-right: 1px solid #d1d1d1;
}
.store_list_pic img {
	border: 1px solid #ffa4ab;
}
.store_info {
	float: left;
	width: 370px;
	overflow: hidden;
}
.store_list p {
	color: #717171;
	font-size: 14px;
}
p.store_title {
	margin-bottom: 10px;
	font-size: 15px;
	color: #f06276;
	font-weight: bold;
	background: url(../images/icon003.gif) no-repeat left 2px;
	padding: 0 0 0 13px;
}
.store_map {
	float: left;
	width: 75px;
	margin-top: 55px;
}
.store_online {
	width: 160px;
	height: 240dpx;
	float: left;
	margin: 13px 6px;
	border: 1px solid #d1d1d1;
}
#shipment_zone {
	width: 100%;
	margin: 0 auto;
	padding: 10px 3px;
	font-size: 12px;
	line-height: 24px;
	color: #837a7a;
}
.shipment_zone {
	padding: 5px;
	margin: 5px;
	margin-left: 35px;
}
/* download */

#download {
	width: 650px;
	margin: 20px 0px 120px 60px;
	color: #000;
}
#download a {
	color: #000;
}
#download a:hover {
	color: #069;
}
#download td {
	border-bottom: 1px dotted #CCC;
	text-align: center;
	padding: 5px 0px;
}
#download th {
	color: #069;
	font-weight: normal;
	border-top: 1px dotted #069;
	border-bottom: 2px solid #069;
}
/* member form */
.member_table {
	height: 24px;
	padding: 4px 8px;
	border: 1px solid #B6B6B6;
}
.member_table th {
	color: #333333;
	background-color: #cccccc;
	height: 24px;
	font-weight: bold;
	padding: 4px 0px 0px 8px;
	text-align: left;
	border-right: 1px solid #B6B6B6;
	border-bottom: 1px solid #B6B6B6;
}
.member_table td {
	height: 24px;
	color: #222222;
	text-align: left;
	padding: 2px 8px;
	border-right: 1px solid #B6B6B6;
	border-bottom: 1px solid #B6B6B6;
}
.member_table tr.altrow {
	background-color: #cccccc;
}
/* member zone form */
.member_zone_table {
	height: 24px;
	padding: 4px 8px 0px 0px;
	text-align: left;
	border-top: 1px solid #D6C9A0;
	border-left: 1px solid #D6C9A0;
	background-color: #FFFFFF;
	color: #666666;
}
.member_zone_table th {
	color: #FFFFFF;
	background-color: #980203;
	font-weight: bold;
	text-align: center;
	padding: 4px 6px;
	border-right: 1px solid #D6C9A0;
	border-bottom: 1px solid #D6C9A0;
}
.member_zone_table td {
	text-align: left;
	padding: 4px 8px;
	border-right: 1px solid #D6C9A0;
	border-bottom: 1px solid #D6C9A0;
}
.member_zone_table td a {
	color: #666666;
}
.member_zone_table td a:hover {
	color: #FF0000;
	text-decoration: none;
}
.member_zone_table  tr.altrow {
	background-color: #EAEAEA;
}
.member_zone_table  .nums {
	text-align: center;
}
/* login & logout */
.login_msg_error {
	font-size: 12px;
	color: #ff0000;
	text-align: center;
}
.logout {
	font-size: 12px;
	color: #ff9900;
	text-align: right;
}
.logout a:link {
	color: #ff9900;
	text-decoration: none;
}
.logout a:visited {
	color: #ff9900;
	text-decoration: none;
}
.logout a:hover {
	color: #ffcc00;
	text-decoration: none;
}
.logout a:active {
	color: #ffcc00;
	text-decoration: none;
}
.login_user {
	font-weight: bold;
	font-size: 18px;
	color: #999999;
}
.msg_getpw {
	font-size: 12px;
	color: #ff0000;
	text-align: center;
}

/* faq */
#faq {
	float: left;
	width: 650px;
	padding: 0px;
	margin: 20px 0px 20px 10px;
	display: inline;
}
.faq_show {
	padding-bottom: 10px;
	border: 1px solid #CCC;
}
.faq_show td.title {
	padding: 6px 0px 6px 30px;
	color: #FFF;
	background-color: #80a0b3;
}
.faq_show td.main {
	color: #000;
	padding: 6px 0px 0px 30px;
}

/*video*/
.video_list {
	width: 150px;
	float: left;
	margin: 15px;
}
.video_list a {
	color: #666
}
.video_list .video_list_pic {
	width: 150px;
}
.video_list .video_list_pic .wraper {
	width: 150px;
	height: 150px;
	text-align: center;
	vertical-align: middle;
	display: table-cell
}
.video_list .video_list_title {
	text-align: center;
	padding: 8px 3px;
}

.ajax_place {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.ajax_place .layerContent {
	position: absolute;
	width: 100%;
	top: 25%;
	left: 0;
	z-index: 100;
	text-align: center;
}
.ajax_place .layerBackground {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #fff;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	z-index: 99;
}
.common_zone {
	padding: 20px 0 0 0;
}
.comment_table {

	border-bottom: 3px solid #bf1f20;
	width: 700px;
	margin: 0 0 40px 0;
}
.comment_table input {
	border: 1px solid grey;
	padding: 3px;
}
.comment_table th {
	width: 10%;
	background: #555;
	color: #fff;
	padding: 5px 0;
}
.comment_table td {
	width: 80%;
	background: #fff;
	padding: 10px 170px 10px 20px;
}
.comment_table td.row1 {
	background: #F1F1F1;
}
.comment_table td.row2 {
	background: #f1f1f1;
	border-bottom: 3px solid #bf1f20;
}
.comment_table textarea {
	width: 100%;
	border: 1px solid grey
}
.comment_table img {
	vertical-align: middle;
}
.comment_table .required {
	border: 2px solid #f00
}
.common_list {
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 0;
}
.common_list .date {
	float: right;
}
.common_list .subject {
	font-size: 14px;
	color: #809030
}
.common_list .content {
	font-size: 14px;
}
.common_list .role {
	color: #069
}
.common_list .role-user {
	color: #5a5
}
.common_list .role-admin {
	color: #f69
}
.comment_role {
	color: #069
}
.comment_role .role {
	color: #809030
}
#common_title {
	float: left;
	width: 75%;
	font-size: 15px;
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 5%;
	margin: 0 0 10px 0;
	color: #bf1f20;
}
#common_date {
	float: right;
	width: 20%;
	text-align: center;
	font-size: 15px;
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	color: #bf1f20;
}
.attach_list {
	clear: both;
	padding: 10px 0;
	height: 84px;
}
.attach_list .attach {
	float: left;
	width: 80px;
	height: 80px;
	border: 1px solid grey;
	padding: 1px;
}
.attach_list .attach .wrapper {
	display: table-cell;
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle
}

.classification_title {
	margin-bottom: 10px;
	padding: 5px 0;
}
.classification_title a {
	display: block;
	float: left;
	margin: 5px 10px;
	font-size: 13px;
	border: 1px solid grey;
	padding: 2px 3px;
}
.classification_title a.current {
	border: 1px solid red;
	background: #df0;
	color: #2a2
}
.operator {
	padding: 5px 8px;
}
.operator input {
	padding: 3px 5px;
}

#missing-files {
	border: 1px solid grey;
	padding: 10px;
}
#missing-files h1 {
	font-size: 30px;
	line-height: 35px;
}
#missing-files p {
	font-size: 13px;
	line-height: 25px;
}
#missing-files-sitemap {
	padding: 10px;
	margin-top: 20px;
	border: 1px solid grey;
	background: #d3d0ce
}
#missing-files-sitemap h3 {
	font-size: 20px;
}
#missing-files-sitemap #desc {
	margin-top: 10px;
}

/*contactus inquiry products list*/
.contact_prod_list {
	list-style: none
}
.contact_prod_list li {
}
.contact_prod_list li input[type=checkbox] {
	vertical-align: middle;
	margin: 0 3px
}

/*SITEMAP*/
/*#sitemap {
	height: auto;
	overflow: hidden;
	padding: 15px 5px 20px;
	width: 650px;
}
#sitemap a {
	text-decoration: none;
}
#sitemap li {
	list-style: outside disc;
	margin-left: 10px;
	color: #4d4c4c;
	line-height: 22px;
	font-size: 13px;
}
#sitemap > ul > li > a {
	color: #000;
}
#sitemap #product {
}
#sitemap #product ul {
	list-style: none;
	margin: 0;
}
#sitemap #product ul li {
	list-style: none;
	margin-left: 0px;
	padding: 10px 0 0 20px;
	clear: both;
}
#sitemap #product ul li a {
	color: #db422c;
	margin: 0;
}
#sitemap #product .layer0 > li > a:before {
	content: ' ';
	display: inline-block;
	width: 18px;
	height: 10px;
	background: url(../images/arr_01.png) no-repeat left 2px;
}
#sitemap #product .layer0 > .sitemap-products > a:before {
	background-image: none;
}
#sitemap #product .layer1 > li > a:before {
	content: ' ';
	display: inline-block;
	width: 14px;
	height: 10px;
	background: url(../images/arr_02.png) no-repeat left 2px;
}
#sitemap #product .layer1 > .sitemap-products > a:before {
	background-image: none;
}
#sitemap #product .layer2 > li > a:before {
	content: ' ';
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../images/arr_03.png) no-repeat left 2px;
}
#sitemap #product .layer2 > .sitemap-products > a:before {
	background-image: none;
}
#sitemap #product .layer3 {
}
#sitemap #product .sitemap-products {
}
#sitemap #product .sitemap-products a {
	border-right: 1px solid #999999;
	color: #000;
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0 10px 0 0;
}*/

/* 聯絡我們  */
.contact_table1 {
	float: left;
	width: 350px;
}
.contact_table1 span {
	color: #F00;
	font-weight: bold;
}
.contact_table1 input, .contact_table1 select {
	border: 1px solid #999;
	width: 200px;
	padding: 3px;
}
.contact_table1 td {
	padding: 0 0 15px 0;
}
.contact_table2 {
	color: #000;
	float: left;
	width: 300px;
}
.contact_table2 textarea {
	border: 1px solid #999;
	width: 300px;
	height: 150px;
	line-height: 22px;
}

.contact_btn {
	width: 100px;
	line-height:40px;
	color: #FFF;
	margin: 10px 5px 0 0;
	font-family:"微軟正黑體";
	font-size:15px;
	font-weight:bold;
	border: none;
	border-radius: 5px;
	border: 1px solid #ee747c;
	padding:0;
	/*background: -webkit-linear-gradient(top,#ee747c,#e20111);
	background: -moz-linear-gradient(top,#ee747c,#e20111);
	background: -ms-linear-gradient(top,#ee747c,#e20111);
	background: -o-linear-gradient(top,#ee747c,#e20111);
	background: linear-gradient(top,#ee747c,#e20111);*/
	background: url(../images/contact_btnbg.jpg) repeat-x center center;
}
.contact_btn:hover {
	/*background: -webkit-linear-gradient(top,#ee747c,#c8000e);
	background: -moz-linear-gradient(top,#ee747c,#c8000e);
	background: -ms-linear-gradient(top,#ee747c,#c8000e);
	background: -o-linear-gradient(top,#ee747c,#c8000e);
	background: linear-gradient(top,#ee747c,#c8000e);*/
	background: url(../images/contact_btnbgv.jpg) repeat-x center center;
}
.contact_btn:active {
	/*background: -webkit-linear-gradient(top,#ee747c,#e20111);
	background: -moz-linear-gradient(top,#ee747c,#e20111);
	background: -ms-linear-gradient(top,#ee747c,#e20111);
	background: -o-linear-gradient(top,#ee747c,#e20111);
	background: linear-gradient(top,#ee747c,#e20111);*/
	background: url(../images/contact_btnbg.jpg) repeat-x center center;
}

/*最新消息*/
.page_back {
	width: 100px;
	line-height:40px;
	color: #FFF;
	margin: 10px 5px 0 0;
	font-family:"微軟正黑體";
	font-size:15px;
	font-weight:bold;
	border: none;
	border-radius: 5px;
	border: 1px solid #ee747c;
	padding:0;
	/*background: -webkit-linear-gradient(top,#ee747c,#e20111);
	background: -moz-linear-gradient(top,#ee747c,#e20111);
	background: -ms-linear-gradient(top,#ee747c,#e20111);
	background: -o-linear-gradient(top,#ee747c,#e20111);
	background: linear-gradient(top,#ee747c,#e20111);*/
	background: url(../images/contact_btnbg.jpg) repeat-x center center;
}
.page_back:hover {
	/*background: -webkit-linear-gradient(top,#ee747c,#c8000e);
	background: -moz-linear-gradient(top,#ee747c,#c8000e);
	background: -ms-linear-gradient(top,#ee747c,#c8000e);
	background: -o-linear-gradient(top,#ee747c,#c8000e);
	background: linear-gradient(top,#ee747c,#c8000e);*/
	background: url(../images/contact_btnbgv.jpg) repeat-x center center;
}
.page_back:active {
	/*background: -webkit-linear-gradient(top,#ee747c,#e20111);
	background: -moz-linear-gradient(top,#ee747c,#e20111);
	background: -ms-linear-gradient(top,#ee747c,#e20111);
	background: -o-linear-gradient(top,#ee747c,#e20111);
	background: linear-gradient(top,#ee747c,#e20111);*/
	background: url(../images/contact_btnbg.jpg) repeat-x center center;
}

/*電子型錄頁面*/
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?camh3');
	src: url('fonts/icomoon.eot?#iefixcamh3') format('embedded-opentype'), url('fonts/icomoon.woff?camh3') format('woff'), url('fonts/icomoon.ttf?camh3') format('truetype'), url('fonts/icomoon.svg?camh3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
	content: "\e600";
}
.icon-download:before {
	content: "\e601";
}
.btn-ebook {
	font-size: 25px;
	color: #666;
	float: left;
	padding: 0 15px;
}
.btn-ebook span {
	display: block;
}
.btn-ebook-out {
	width: 110px;
	margin: 0 auto;
	padding: 10px 0 50px 0px;
}

/*行銷關鍵字區塊*/
.seo_zone {
	padding: 10px 0 10px 0;
}
.seo_zone p {
	/*line-height: 22px;*/
}

#payment_extend_info {
	color: #f00;
}
#member-join-term {
	padding: 10px 20px;
}
#member-join-term ul {
	list-style-position: inside
}
#member-join-term ul li {
	font-size: 14px;
	line-height: 25px;
}
#member-join-term ul li a {
	font-size: 14px;
}
#member-join-action {
	margin-top: 20px;
	text-align: center;
}
#member-join-action input {
	margin: 0 10px;
	font-size: 18px;
}
.epaper-note {
	font-size: 14px;
	line-height: 25px;
	color: #5a0;
	cursor: pointer
}
.epaper-note:hover {
	color: #f00;
}

#del-cart-dialog {
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	padding: 20px 0;
}

#minicart {
	display: none;
	position: absolute;
	width: 223px;
	overflow: hidden;
	border: 1px solid #f00;
	left: -2px;
	top: 40px;
	background: #fff
}
#minicart #minicart-subtotal {
	text-align: left;
	line-height: 30px;
	font-size: 14px
}
#minicart #minicart-button {
	width: 223px;
}
#minicart #minicart-button #minicart-button-sp {
	float: left;
	display: block;
	width: 1px;
	height: 20px;
	border: 1px solid #fff;
	background: #f00
}
#minicart #minicart-button a {
	display: block;
	width: 109px;
	height: 20px;
	float: left;
	text-align: center;
	border-top: 1px solid #f00;
	line-height: 20px;
	background: #f00;
	color: #fff
}
#minicart .cart-item {
	clear: both;
	width: 223px
}
#minicart .cart-item div {
	float: left
}
#minicart .cart-item .img {
	width: 60px;
}
#minicart .cart-item .info {
	width: 123px;
	text-align: left
}
#minicart .cart-item .nums {
	width: 40px;
	text-align: center
}
#minicart .amount {
	color: #f00
}

/*數量折扣*/
#quantity-discount {
	padding: 10px 5px;
	border: 2px dotted grey;
	margin: 5px 0 10px 0;
}
#quantity-discount #title {
	color: #f00
}
#quantity-discount ul {
	list-style: none;
	padding: 0;
	margin-top: 5px;
}
#quantity-discount ul li {
	color: #0a0
}
.member_login_iptbox_1 {
	width: 300px;
	height: 18px;
	padding: 3px 0 3px 5px;
}
.check_iptbox_1 {
	width: 70px;
	height: 18px;
	padding: 3px 0 3px 5px;
}
.select_setbox {
	width: 210px;
	height: 25px;
}
/* news */
/*.news_list{
	width:auto;
	height:130px;
	padding:20px 0 0 0;
	border-bottom:1px dashed #CCC;
	}	
.news_list img{
	float:left;
	margin-right:10px;
	border:1px solid #CCC;
	}
.news_date{

	}
.news_date a{
	color:#069;
	font-weight:bold;
	}	
.news_text{
	line-height: 22px;

}*/


/* contact us */
.contact1{
	float:left;
	width:350px;
}
.contact1 span{
	color:#F00;
	font-weight:bold;
}
.contact1 input,.contact1 select{
	border:1px solid #999;
	width: 180px;
}
.contact1 td{
	padding:0 0 15px 0;
}
.contact2{
	color:#000;	
	float:left;
	width:300px;
}
.contact2 textarea{
	border:1px solid #999;
	width:300px;
	height:150px;
	line-height:1.7em;
}
.ctbtn{
	width:300px;
	padding-top:20px;
}
.ctbtn1{
	width:100px;
	height:20px;
	float:right;
	text-align:center;
	color:#FFF;
	margin-left:1px;
	background-color:#00aee3;
	line-height:20px;
	border:none;
}

/*電子型錄*/
.ebook_left_list{
	width: 180px;
	margin: 0 auto;
	margin-top:20px;	
}
.ebook_left_pic{
	width:180px;
	height: 212px;
}
.ebook_left_title{
	width:180px;
	margin: 5px 0 0 0;
	text-align:center;
}
.ebook_left_title a{
	color: #000;
}

.ebook_list{
	width: 180px;
	height: 212px;
	float: left;
	margin:0 60px 50px 0;
}
.ebook_pic{
	width:180px;
	height: 212px;
}
.ebook_title{
	width:180px;
	margin: 5px 0 0 0;
	text-align:center;
}
.ebook_title a{
	color: #000;
}
.btn_send {
	width: 80px;
	height: 30px;
	color: #0f1214;
	margin: 10px 5px 10px 0;
	border: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: -webkit-linear-gradient(top,#fff,#dadada);
	background: -moz-linear-gradient(top,#fff,#dadada);
	background: -ms-linear-gradient(top,#fff,#dadada);
	background: -o-linear-gradient(top,#fff,#dadada);
	background: linear-gradient(top,#fff,#dadada);
}
.btn_send:hover {
	background: -webkit-linear-gradient(top,#fff,#c9c9c9);
	background: -moz-linear-gradient(top,#fff,#c9c9c9);
	background: -ms-linear-gradient(top,#fff,#c9c9c9);
	background: -o-linear-gradient(top,#fff,#c9c9c9);
	background: linear-gradient(top,#fff,#c9c9c9);
}
.btn_send:active {
	background: -webkit-linear-gradient(top,#fff,#dadada);
	background: -moz-linear-gradient(top,#fff,#dadada);
	background: -ms-linear-gradient(top,#fff,#dadada);
	background: -o-linear-gradient(top,#fff,#dadada);
	background: linear-gradient(top,#fff,#dadada);
}
#page {
	clear:both;
	text-align:center;
	font-size: 15px;
	letter-spacing: 1px;
	margin: 0px;
	height: 30px;
	padding: 10px 0 0 0;
	color: #333;
}
#page a {
	font-size: 15px;
	color:#000;
	letter-spacing: 1px;
}
#page a:hover {
	color: #1470c5;
}
#page .current {
	color: #1470c5;
	font-size: 15px;
}