@charset "utf-8";
/* CSS Document */

body, wrapper, main, topmenu, logo, menu, language, footer, div, ul, li, h1, h2, img {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
body {
	margin: 0px;
	font-size: 12px;
	background: url(../images/idx_bg.jpg) repeat-x center top #1b1f27;
}
a {
	color: #fff;
	outline: medium none;
	text-decoration: none;
}
a:hover {
	color: #fc0;
}
img {
	border: 0px;
}

ul, li, h1, h2 {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
/*all end--------------------------------------------------------------------------------*/

/*wrapper*/
#wrapper {
	margin: 0px auto;
	width: 1050px;
	height: auto;
}

/*header*/
#header {
	height: 110px;
	width: 1050px;
}

/*logo*/
#logo a {
	background: url(../images/logo.gif) no-repeat center top;
	display: block;
	float: left;
	height: 110px;
	text-indent: -9999px;
	width: 420px;
}

/*top_menu*/
#top_menu {
	float: right;
	padding: 57px 0 0 100px;
	margin-right: 12px;
}
#top_menu ul {
	margin: 0;
	padding: 0;
}
#top_menu ul li {
	float: left;
	height: 30px;
	background: url(../images/topmenubg.png) no-repeat left center;
	line-height: 30px;
	list-style: none;
	margin: 0 5px;
	font-weight: bold;
}
#top_menu ul li a {
	color: #fff;
	padding-left: 15px;
	display: block;
	font: 12px/30px "微軟正黑體", "Times New Roman", "新細明體";
}
#top_menu ul li a:hover {
	color: #fc0;
}
#top_menu ul li a.current {
	color: #fc0;
}

/*banner*/
#banner {
	width: 1040px;
	height: 315px;
	padding: 5px;
	background-color: #FFF;
	margin-bottom: 45px;
}
#banner_list {
	width: 480px;
	height: 315px;
	padding-right: 5px;
	float: left;
}
#idx_video {
	height: 315px;
	width: 555px;
	float: left;
	display: block;
}

/*org_menu*/
#org_menu {
	width: 1050px;
	height: 34px;
	background: url(../images/org_menubg.gif) repeat-x left center;
}
#org_menu ul {
	padding-left: 45px;
}
#org_menu ul li {
	float: left;
}
#org_menu ul li a {
	height: 34px;
	line-height: 9000px;
	color: #FFF;
	display: block;
	font-size: 12px;
	font-family: "微軟正黑體";
	width: 160px;
	overflow: hidden;
	/*background:url(../images/org_menu.gif) repeat-x center center;border-right:1px solid #f4a325; padding:0 30px;*/
}
/*#org_menu ul li a:hover{background:url(../images/org_menuv.gif) no-repeat center center;color:#FFF;}
 #org_menu ul li a.current{background:url(../images/org_menuv.gif) no-repeat center center;color:#FFF;}*/

#org_menu .m1 a {
	background: url(../images/org_menu1.gif) no-repeat center top;
}
#org_menu .m2 a {
	background: url(../images/org_menu2.gif) no-repeat center top;
}
#org_menu .m3 a {
	background: url(../images/org_menu3.gif) no-repeat center top;
}
#org_menu .m4 a {
	background: url(../images/org_menu4.gif) no-repeat center top;
}
#org_menu .m5 a {
	background: url(../images/org_menu5.gif) no-repeat center top;
}
#org_menu .m6 a {
	background: url(../images/org_menu6.gif) no-repeat center top;
}
#org_menu .m1 a:hover, #org_menu .m1 a.current {
	background: url(../images/org_menu1v.gif) no-repeat center top;
}
#org_menu .m2 a:hover, #org_menu .m2 a.current {
	background: url(../images/org_menu2v.gif) no-repeat center top;
}
#org_menu .m3 a:hover, #org_menu .m3 a.current {
	background: url(../images/org_menu3v.gif) no-repeat center top;
}
#org_menu .m4 a:hover, #org_menu .m4 a.current {
	background: url(../images/org_menu4v.gif) no-repeat center top;
}
#org_menu .m5 a:hover, #org_menu .m5 a.current {
	background: url(../images/org_menu5v.gif) no-repeat center top;
}
#org_menu .m6 a:hover, #org_menu .m6 a.current {
	background: url(../images/org_menu6v.gif) no-repeat center top;
}

/*master*/
#master {
	width: 1050px;
	position: relative;
	display: block;
	min-height: 495px;
	overflow: hidden;
	background-color: #0e1221;
}
#banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 430px;
	display: block;
	padding: 0;
	margin: 0;
	z-index: 0;
}
#left {
	width: 22%;
	float: left;
	z-index: 1;
	margin-top: 20px;
	height: 410px;
	position: relative;
}
#right {
	width: 75%;
	float: left;
	color: #FFF;
	padding: 110px 10px 50px 10px;
}
#banner + #left {
	width: 100%;
}
#banner + #left + #right {
	width: 1010px;
	padding: 20px 20px 50px 20px;
}

.path1 {
	position: absolute;
	top: 435px;
	right: 0;
}
.path2 {
	position: absolute;
	top: 20px;
	right: 0;
}

#path {
	font-family: "微軟正黑體";
	color: #ccc;
	/*background: url(../images/pathbg.png) repeat center center;*/
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	z-index: 1;
}
#path a {
	color: #ccc;
}
#path a:hover {
	color: #fc0;
}
#banner_title {
	position: absolute;
	top: 50px;
	left: 220px;
	z-index: 1;
}
#banner_title2 {
	position: absolute;
	top: 60px;
	left: 245px;
}
h1 {
	color: #fff;
	font: bolder 19pt/26px "微軟正黑體", "Times New Roman", "新細明體";
	margin: 0;
	padding: 0;
}
h2 {
	color: #f90;
	font: bolder 12pt/26px "微軟正黑體", "Times New Roman", "新細明體";
	margin: 0;
	padding: 0;
}
h3 {
	color: #f90;
	font: bold 19px "微軟正黑體", "Times New Roman", "新細明體";
	margin: 0;
	padding: 0;
}
h4 {
	color: #fff;
	font: bold 17pt "微軟正黑體", "Times New Roman", "新細明體";
	margin: 0;
	padding: 0;
}

/*left*/
#submenu-title {
	background: url(../images/hit.gif) repeat center center;
	width: 148px;
	height: 56px;
	display: block;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	padding: 25px 40px 0 20px;
	line-height: 20px;
	text-shadow: 0 0 15px #ff3600;
}
.submenu {
	width: 200px;
}
.submenu2 {
	width: 240px;
}
.submenu .menu_head a, .submenu2 .menu_head a {
	background: url(../images/menu_head_bg.png) repeat-x right center;
	height: 36px;
	display: block;
	padding-left: 20px;
	font: bold 15px/36px "微軟正黑體", "Times New Roman", "新細明體";
}
.submenu .menu_head a.current, .submenu2 .menu_head a.current {
	background: url(../images/menu_headbgv.png) no-repeat right center;
	color: #00dddd;
}

/*right*/
.right_title {
	font-size: 15px;
	font-weight: bold;
}

/*news*/
.newsbg {
	background: url(../images/newsbg.png) no-repeat center top;
}
.news_list {
	width: 760px;
	/*padding: 15px 0;*/
	/*padding-top: 20px;*/
	/*border-bottom: 1px solid #7c757c;*/
	background: url(../images/newslistbg.png) repeat center top;
}
.news_bak {
	width: 760px;
	height: 24px;
}
/*.news_date {
	width: 760px;
	height: 24px;
	font-size: 13px;
	color: fc0;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #7c757c;
}*/
.news_date {
	padding: 10px;
	line-height: 150%;
	border-bottom: solid #7c757c 1px;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	color: #FFF;
}
.news_date span {
	float: left;
	color: #fc0;
	padding-left: 15px;
	font-family: "微軟正黑體";
}
.news_date a {
	float: left;
	padding: 0 15px 0 5px;
	font-family: "微軟正黑體";
}
.news_text {
	font-size: 13px;
	float: left;
}
.news_detail {
	background: url(../images/newslistbg.png) repeat center top;
	padding: 20px 40px;
	font-size: 15px;
	border-radius: 20px;
}

/*sitemap*/
.sitemapbg {
	background: url(../images/sitemapbg.png) no-repeat center top;
}
.downloadbg {
	background: url(../images/downloadbg.png) no-repeat center top;
}
/*
 #sitemap {
 padding-left: 20px;
 }

 #sitemap ul {
 }
 #sitemap ul > li {
 float: left;
 width: 100%;
 border-left: 1px solid #446da5;
 margin-bottom: 10px;
 }
 #sitemap ul > li a {
 color: #09c;
 height: 32px;
 line-height: 32px;
 padding: 5px 10px;
 font-weight: bold;
 background: url(../images/sitemap_titlebg.png) repeat center top;
 font-size: 15px;
 margin-left: 5px;
 }
 #sitemap ul > li a:hover {
 }

 #sitemap ul > li > ul {
 padding-left: 30px;
 }
 #sitemap ul > li > ul > li {
 width: 100%;
 border-left: none;
 list-style: disc;
 margin-bottom: 0;
 }
 #sitemap ul > li > ul > li a {
 border-left: none;
 color: #FFF;
 padding: 3px 0;
 background: none;
 }
 #sitemap ul > li > ul > li a:hover {
 color: #fc0;
 border-left: none;
 }

 #sitemap ul > li > ul > li > ul {
 }
 #sitemap ul > li > ul > li > ul > li {
 width: auto;
 list-style: none;
 margin-bottom: 0;
 }
 #sitemap ul > li > ul > li > ul > li a {
 color: #ffb400;
 padding: 0 10px;
 font-weight: bold;
 }
 #sitemap ul > li > ul > li > ul > li a:hover {
 color: #ff7200;
 border-bottom: none;
 }

 #sitemap ul > li > ul > li > ul > li > ul {
 }
 #sitemap ul > li > ul > li > ul > li > ul > li {
 width: auto;
 margin-bottom: 0;
 }
 #sitemap ul > li > ul > li > ul > li > ul > li a {
 border-bottom: none;
 border-right: 1px solid #ffb400;
 color: #ffb400;
 padding: 0 10px;
 font-weight: normal;
 }
 #sitemap ul > li > ul > li > ul > li > ul > li a:hover {
 color: #ff7200;
 border-bottom: none;
 border-right: 1px solid #ff7200;
 }
 */
/*contact*/
.contactbg {
	background: url(../images/contactbg.png) no-repeat center top;
	background-color: #0e1221;
}
.contact_branch {
	color: #fff;
	line-height: 24px;
}
.contact_branch ul {
	padding: 20px 0 20px 50px;
}
.contact_branch ul li {
	list-style: disc;
	font-size: 13px;
	line-height: 24px;
	font-family: "微軟正黑體";
}
.branch_title {
	color: #09c;
	height: 32px;
	padding: 0px 10px;
	background: url(../images/sitemap_titlebg.png) repeat center top;
	margin-left: 5px;
	font: bolder 15px/32px "微軟正黑體", "Times New Roman", "新細明體";
}

.contact_info {
	border-top: 1px dotted #7c757c;
	overflow: hidden;
	padding: 20px 10px 0 10px;
	margin: 0 5px;
}
.contact1 {
	float: left;
	width: 50%;
}
.contact1 span {
	color: #F00;
	font-weight: bold;
}
.contact1 input, select {
	border: 1px solid #999;
	width: 180px;
	font-family: Arial, Helvetica, sans-serif;
}
.contact1 td {
	padding: 0 0 15px 0;
}
.contact2 {
	color: #fff;
	float: left;
	width: 50%;
}
.contact2 textarea {
	border: 1px solid #999;
	width: 300px;
	height: 150px;
	line-height: 1.7em;
}
.ctbtn {
	width: 300px;
	padding-top: 20px;
}
.ctbtn1 {
	width: 100px;
	height: 20px;
	float: right;
	text-align: center;
	color: #FFF;
	margin-left: 1px;
	background-color: #09c;
	line-height: 1.7em;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

/*footer*/
#footer {
	width: 100%;
	height: 25px;
	background-color: #000;
	position: fixed;
	bottom: 0;
	left: 0;
}
#footer_txt {
	margin: 0 auto;
	width: 1050px;
	height: 25px;
	line-height: 25px;
	color: #999;
	text-align: center;
}

.contentTreeBocx {
	padding: 5px 10px 5px 10px;
	font-size: 12px;
	line-height: 18px;
	color: #ABB3C5;
	font-family: "微軟正黑體", "Times New Roman", "新細明體";
}
.contentTreeBocx p {
	margin: 0;
}
.contentTreeBocxClientNop p {
	margin: 0;
	padding: 0;
}
.contentTreeBocx h2 {
	font: bold 14px "微軟正黑體", "Times New Roman", "新細明體";
	color: #FFF;
	display: block;
	margin: 3px 0 5px 0;
	padding: 0;
}
.contentTreeBocx h3 {
	font: bold 13px "微軟正黑體", "Times New Roman", "新細明體";
	margin: 0;
	padding: 0;
	color: #FC0;
}
.contentTreeBocx ol {
	display: block;
	padding: 0 0 0 20px;
	margin: 0;
}
.contentTreeBocx ul {
	padding-top: 12px;
	padding-left: 40px;
}
.contentTreeBocx li {
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: disc;
}
.contentTreeBocxforimg {
	text-align: center;
	padding: 10px;
}
.titleA01 {
	font: bold 14px "微軟正黑體", "Times New Roman", "新細明體";
	color: #FFF;
	display: block;
	margin: 3px 0 5px 0;
}
.titleA02 {
	font: bold 12px "微軟正黑體", "Times New Roman", "新細明體";
	color: #FC0;
}
.line01 {
	height: 1px;
	background-color: #aaa3b3;
	margin: 5px 0;
}
.hqmvdiv {
	position: absolute;
	width: 770px;
	height: 550px;
	text-align: center;
	top: 63px;
	left: 270px;
	text-indent: 0px;
	padding-top: 7px;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.2);
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0 rgba(255,255,255,0.5) inset;
}
/*For_Table*/
.table_1 {
	background: url(../images/original/contenttemplate_06.jpg)
}
.table_2 {
	background: url(../images/original/contenttemplate_06_445.jpg)
}
.table_3 {
	background: url(../images/original/contenttemplate_06_600.jpg)
}
.table_4 {
	background: url(../images/original/contenttemplate_06_890.jpg)
}
.inquiry_car {
	width: 150px;
	float: right;
}
#sitemap {
	width: 1050px;
	font: 19px "微軟正黑體", "Times New Roman", "新細明體";
	background-repeat: no-repeat;
	margin-top: -50px;
}
#sitemap .lefttd {
	border-left: #446da5 1px solid;
}
#sitemap li {
	list-style: disc;
	margin-left: 40px;
	padding: 1px 0;
}
#sitemap li a {
	font: 13px "微軟正黑體", "Times New Roman", "新細明體";
}
.onesatrye {
	/*border-bottom:#446da5 solid 1px;*/
	color: #FFF;
	font-size: 13px;
	line-height: 24px;
	margin: 0 0 10px 0;
	padding: 5px;
}
.onesatrye h2 {
	margin: 0;
	font: bolder 15px/24px "微軟正黑體", "Times New Roman", "新細明體";
	color: #09C;
	background-image: url(../images/icon003.png);
	height: 32px;
	line-height: 32px;
	padding: 0 0 0 10px;
}

#dlTitle {
	width: 1050px;
	font: 19px "微軟正黑體", "Times New Roman", "新細明體";
	background-repeat: no-repeat;
}
#dlTitle h1 {
	width: 800px;
	height: 30px;
	padding-left: 50px;
	margin: 0;
	font: bold 15px "微軟正黑體", "Times New Roman", "新細明體";
	color: #F90;
}
#dlTitle .mytd {
	font: bold 13px/24px "微軟正黑體", "Times New Roman", "新細明體";
	color: #FFF;
	border-bottom: #4e4d58 dotted 1px;
}
#dlTitle .yuyinput {
	width: 550px;
	font-size: 13px;
	background-color: #646672;
	border: #000 solid 1px;
	padding: 2px 0;
	color: #FFF;
}
.news_show {
}
.news_show .main {
	background: url(../images/newstable_02.png) repeat-y left top;
	padding-left: 20px;
	color: #000;
	padding-top: 20px;
}
#div_send_show {
	padding-left: 320px;
}
/*.si_in input{
 height: 25px;
 padding-bottom: 10px;
 }*/
.new_show_1{
	width: 720px;
}
.new_show_1 a{
	color:blue;
}